$fonts: "CustomFontRegular", "CustomFontRegularItal", "CustomFontBold", "CustomFontBoldItal", "Icon";
@each $font in $fonts {
	@font-face {
		font-family: $font;
		src: url('../fonts/#{$font}.woff') format('woff'),
			 url('../fonts/#{$font}.woff2') format('woff2');
	}
}
body {
	font-family: 'CustomFontRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	#root {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
}
html, body {
	height: 100%;
	overflow: hidden;
	background-color: #e8e8e8;
	h1, h2, h3, h4, h5 {
		font-weight: bold;
	}
	h1, h2, h3, h4, h5, p {
		margin: 0;
	}
	button {
		appearance: none;
		border: 0;
		border-radius: 0;
	}
	button, a {
		cursor: pointer;
		text-decoration: none;
	}
	input {
		border: 0;
	}
	* { 
		box-sizing: border-box; 
		outline: none; 
	}
	main { 
		flex: 1;
		position: relative;
	}
	.scrollable {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		&::-webkit-scrollbar { display: none; }
	}
}